/* ===============================
 MINI SIDEBAR
================================ */
#main-wrapper.mini-sidebar .left-sidebar {
    width: 70px;
}

#main-wrapper.mini-sidebar .body-wrapper {
    margin-left: 70px;
}

/* FULL */
#main-wrapper[data-sidebartype="full"] .left-sidebar {
    width: 260px;
}

#main-wrapper[data-sidebartype="full"] .body-wrapper {
    margin-left: 260px;
}

/* ===============================
 LOGO
================================ */
#main-wrapper.mini-sidebar .logo-text {
    display: none;
}

#main-wrapper.mini-sidebar .brand-logo {
    justify-content: center;
}

/* ===============================
 MENU
================================ */
#main-wrapper.mini-sidebar .hide-menu,
#main-wrapper.mini-sidebar .nav-small-cap {
    display: none !important;
}

#main-wrapper.mini-sidebar .sidebar-link {
    justify-content: center;
}

#main-wrapper.mini-sidebar .sidebar-link i {
    margin-right: 0 !important;
    font-size: 1.2rem;
}

.stat-card {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 18px 20px;
    border-radius: 14px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.05);
}

.stat-icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 26px;
}

.stat-info p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

.stat-info h3 {
    margin: 0;
    font-weight: 700;
}

/* Soft Background */
.bg-soft-purple { background: #f2edff; }
.bg-soft-orange { background: #fff1e8; }
.bg-soft-green  { background: #e9fff6; }

/* Solid Icon Color */
.bg-purple { background: #6f42c1; }
.bg-orange { background: #fd7e14; }
.bg-green  { background: #20c997; }
