/* ===============================
 MINI SIDEBAR
================================ */
#main-wrapper.mini-sidebar .left-sidebar {
    width: 70px;
}

#main-wrapper.mini-sidebar .body-wrapper {
    margin-left: 70px;
}

/* FULL */
#main-wrapper[data-sidebartype="full"] .left-sidebar {
    width: 260px;
}

#main-wrapper[data-sidebartype="full"] .body-wrapper {
    margin-left: 260px;
}

/* ===============================
 LOGO
================================ */
#main-wrapper.mini-sidebar .logo-text {
    display: none;
}

#main-wrapper.mini-sidebar .brand-logo {
    justify-content: center;
}

/* ===============================
 MENU
================================ */
#main-wrapper.mini-sidebar .hide-menu,
#main-wrapper.mini-sidebar .nav-small-cap {
    display: none !important;
}

#main-wrapper.mini-sidebar .sidebar-link {
    justify-content: center;
}

#main-wrapper.mini-sidebar .sidebar-link i {
    margin-right: 0 !important;
    font-size: 1.2rem;
}
